body {  
  background-color: rgb(240, 247, 235);
}
/* ENCABEZADO DE LA PAGINA */
header{
  background-image: url(/statics/img/nuevo_fondo.jpg);
  background-size:100%;
  background-repeat: repeat-y; /* Repetir solo horizontalmente */
  animation: moverFondo 30s linear infinite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  width: 100%;
}

/* ANIMACIÓN DEL FONDO */
@keyframes moverFondo {
  0% {
    background-position: 40% 0%; /* Posición inicial del fondo */
  }
  100% {
    background-position: 50% 100%; /* Posición final del fondo (-100% para moverlo completamente fuera de la sección) */
  }
  0% {
    background-position: 50% 0%;
  }
}

.titulo {  
  color: black;
  padding:20%;
  text-align: center;
  margin-bottom: -10px;
}


/* UN PUNTO DE QUIEBRE PARA TABLETS Y CELULARES */
@media (max-width: 650px) {
  .titulo {
    background-image: url(/statics/img/nuevo_fondo.jpg);
    background-size:cover;
    border-image-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding:20%;
    text-align: center;
    margin-bottom: -10px;
  }  
  .titulo {
    animation: none; /* Anular animación en pantallas más pequeñas */
    background-color:rgb(255, 0, 0); /* Cambiar el color de fondo */
  }
}



/* logo */

.logo{
  width: 10%;
  display: flex;
  padding-bottom: 2%;
}
.logo div{
  display: flexbox;
  background-color: rgba(1, 1, 1,1);
  text-align: center;
  margin: 0;
  padding: 5px;
}



/* barra superior */
#barra_superior {
  display: flex;
  flex-direction: row;
}



/* items de la barra superior */
#navegacion {
  display: inline-block;
  border-radius: 3px;
  width: 80%;
  text-align: center;
  padding-top: 1%;
}

#navegacion li {
  align-items: center;
  display: inline-block;
}
#navegacion a {
  text-decoration: none;
  display: block;
  background-color: hsl(0, 0%, 0%);
  border-radius:10cm;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px 10px;
}
a:link,
a:visited,
a:focus {
  color: rgb(255, 255, 255);
}
#navegacion li:hover {
  text-shadow: 0 0px 5px rgb(251, 251, 251);
}


/* Estilos para el menú */  
.menu-container {
  display: inline-block;
  text-align: center;
  width: 5%;
  padding: 1%;
}

.toggle-button {
  cursor: pointer;
  border-radius: 50%;
}

.toggle-button img {
  width: 100%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #eb0404;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

/* Mostrar el menú cuando se pasa el ratón sobre el contenedor */
.menu-container:hover .dropdown-menu {
  display: block;
    text-shadow: 0 0px 5px rgb(251, 251, 251);
}


/* pie de pagina */
footer {
    color: #d3e4c5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: end;
    background-color: #010101 ;
    padding: 5%;
  }

footer a img{
  width: 5%;

}